<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MailChess{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {% block extra_css %}{% endblock %}
        <script>
                // Set the theme based on local storage when the page first loads
                if (localStorage.getItem('theme') === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                    document.documentElement.classList.add('dark');
                } else {
                    document.documentElement.classList.remove('dark');
                }
        </script>
</head>
<body class="bg-gradient-to-br from-blue-50 to-indigo-100 dark:from-gray-900 dark:to-gray-800 min-h-screen">

    <nav class="p-4 bg-white/90 shadow-sm dark:bg-gray-800/90">
        <ul class="flex gap-4">
          <li><a href="/" class="text-gray-800 dark:text-gray-200">Home</a></li>
          <li><a href="/mail_stats" class="text-gray-800 dark:text-gray-200">Mail Statistics</a></li>
      </ul>
    </nav>

    {% block content %}{% endblock %}
    {% block extra_js %}{% endblock %}

</body>
</html>
